/*element selector*/
h1 {

    background-color: aquamarine;
}
/*id selector*/
#simple {
    background-color: pink;
}
#index_1 {

    background-color: crimson;

}
#index_2 {

    background-color: blueviolet;

}

/*class selector*/
.klass_1 {

    background-color: darkgrey;
}

/*p tag with class klass_1*/
p.klass_1 {

    color:yellow;
}


/*group selector*/
h2,h3 {

    color: white;
}
/*universal selector*/
* {
    text-align: center;
    padding: 3px;
    border: 1px solid black;
    
}
